.main {
  gap: 16px;
  padding: 16px;
  display: grid;
  color: #222226;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #fff;
  }
}

.container {
  gap: 16px;
  display: grid;
  color: #222226;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
