.main {
  gap: 16px;
  padding: 16px;
  display: grid;
  color: #222226;
}

.container {
  gap: 16px;
  display: grid;
  color: #222226;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
