.playerCard {
  display: flex;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #1d2a2c;

  border-radius: 60px;
}

.playerImage {
  width: 50px;
  height: 50px;
}
