.datePicker {
  gap: 12px;
  border: none;
  color: #fff;
  padding: 12px;
  display: flex;
  direction: ltr;
  align-items: center;
  border-radius: 60px;
  transition: all 0.2s;
  justify-content: center;
  background-color: #101f23;
}

.arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 60px;
  &:hover {
    background-color: #0a3035;
  }
}
