.tableView {
  padding: 16px;
  background: #101f23;
  border-radius: 12px;

  h3 {
    margin-bottom: 10px;
    color: #333;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead tr th {
    background: #1d2a2c;
  }

  th,
  td {
    padding: 8px;
    text-align: center;
  }

  td {
    border-bottom: 1px solid #1d2a2c;
  }

  th {
    font-weight: 600;
  }

  tr:hover {
    background: #1d2a2c;
  }
}

.position {
  min-width: 16px;
  border-radius: 60px;
  background-color: #1d2a2c;
}

.teamName {
  font-weight: 500;
}

.tableHeader {
  margin-bottom: 16px;
}

.filter {
  gap: 16px;
  display: flex;
  align-items: center;
}

.select {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 60px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s;
  line-height: inherit;

  &:hover {
    background: #e0e0e0;
  }
}
